body{
	text-align: center;
    margin: 0;
    color: #000;
    box-sizing: border-box;
    padding: 0;
}

h1{
	margin: 0;
}

textarea{
	border: 2px solid #000;
	text-align: center;
	overflow: hidden;
}

.bg-mario{
	background-image: url(img/mario-bros.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    height: 462px;
}

#count{
	height:20px ;
	width:40px ;
	border:2px solid #fff;
	margin: auto;
	margin-top: 5px;
	color: #fff;
}

#boton{
	background-color: #80D010; 
    border: 2px solid #000;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px; 
    border-radius: 5px;  
}

#boton:disabled{
	background-color: #D82800;
	border:2px solid #fff;
	color: #000;
}

.orange{
	background-color: #ffa500;
}

.red{
	background-color: #ff0000 ;
}

/* ghost class */

.ghostbox{
	width: 250px;
	height: auto;
	border: 2px solid #C1501B;
	padding: 5px;
	word-wrap: break-word;
	margin: 5px auto;
	background-color: #FC9838; 
	color:white;
	border-radius: 5px;
}



